In [ ]:
import sqlite3
import pandas as pd
import numpy as np

np.random.seed(42)

# Create sample data
num_rows = 1200

dates = pd.date_range(start="2023-01-01", periods=num_rows, freq="D")
oil_fields = ["Field A", "Field B", "Field C"]
regions = ["Offshore", "Onshore"]
well_ids = [f"WELL_{i}" for i in range(1, 21)]

data = {
    "date": np.random.choice(dates, num_rows),
    "oil_field": np.random.choice(oil_fields, num_rows),
    "well_id": np.random.choice(well_ids, num_rows),
    "region": np.random.choice(regions, num_rows),
    "production_barrels": np.random.randint(50, 500, num_rows),
    "operating_cost": np.random.randint(2000, 8000, num_rows)
}

df = pd.DataFrame(data)

# Buat SQLite database
conn = sqlite3.connect("oil_production.db")
df.to_sql("production", conn, if_exists="replace", index=False)

print("✓ Oil production database created")
df.head()

✓ Oil production database created

        date oil_field  well_id    region  production_barrels  operating_cost
0 2026-01-31   Field C   WELL_4  Offshore                 189            2184
1 2025-05-10   Field C  WELL_12  Offshore                 348            6563
2 2026-02-04   Field B   WELL_8  Offshore                 494            4410
3 2025-12-31   Field C   WELL_2  Offshore                 336            7402
4 2025-11-10   Field B  WELL_13   Onshore                 140            7672

In [ ]:
query1 = """
SELECT oil_field,
       SUM(production_barrels) AS total_production
FROM production
GROUP BY oil_field
ORDER BY total_production DESC;
"""
pd.read_sql_query(query1, conn)

  oil_field  total_production
0   Field A            121286
1   Field B            114955
2   Field C            106972

In [ ]:
query2 = """
SELECT well_id,
       ROUND(AVG(production_barrels), 2) AS avg_daily_production
FROM production
GROUP BY well_id
ORDER BY avg_daily_production DESC;
"""
pd.read_sql_query(query2, conn)

    well_id  avg_daily_production
0   WELL_15                311.57
1    WELL_3                303.28
2   WELL_19                302.05
3    WELL_9                301.46
4    WELL_2                298.22
5   WELL_17                296.19
6    WELL_6                291.14
7    WELL_5                290.79
8   WELL_20                289.30
9    WELL_1                287.13
10  WELL_16                285.19
11  WELL_12                283.01
12   WELL_7                282.80
13   WELL_8                282.19
14  WELL_14                281.87
15  WELL_10                275.40
16  WELL_11                274.53
17  WELL_18                264.59
18  WELL_13                262.99
19   WELL_4                251.69

In [ ]:
query3 = """
SELECT strftime('%Y-%m', date) AS month,
       SUM(production_barrels) AS total_production
FROM production
GROUP BY month
ORDER BY month;
"""
pd.read_sql_query(query3, conn)

      month  total_production
0   2023-01             11517
1   2023-02              9602
2   2023-03              8554
3   2023-04             10914
4   2023-05             11124
5   2023-06              7973
6   2023-07              7084
7   2023-08              8162
8   2023-09              7113
9   2023-10              6082
10  2023-11              5921
11  2023-12              8702
12  2024-01              7286
13  2024-02              7602
14  2024-03              7609
15  2024-04              8517
16  2024-05              8785
17  2024-06              5875
18  2024-07              8340
19  2024-08              4922
20  2024-09              8447
21  2024-10             10163
22  2024-11             10037
23  2024-12             11171
24  2025-01              9465
25  2025-02              8463
26  2025-03             12261
27  2025-04              9637
28  2025-05              9005
29  2025-06              8512
30  2025-07              7059
31  2025-08              9795
32  2025-09              8269
33  2025-10              9585
34  2025-11              8829
35  2025-12             10219
36  2026-01              8861
37  2026-02              9618
38  2026-03              8599
39  2026-04              3534

In [ ]:
query4 = """
SELECT region,
       SUM(production_barrels) AS total_production,
       ROUND(AVG(production_barrels), 2) AS avg_production
FROM production
GROUP BY region;
"""
pd.read_sql_query(query4, conn)

     region  total_production  avg_production
0  Offshore            174979          281.77
1   Onshore            168234          290.56

In [ ]:
query5 = """
SELECT well_id,
       SUM(production_barrels) AS total_production
FROM production
GROUP BY well_id
ORDER BY total_production DESC
LIMIT 5;
"""
pd.read_sql_query(query5, conn)

   well_id  total_production
0  WELL_17             20733
1  WELL_15             20252
2  WELL_19             19935
3   WELL_3             19713
4   WELL_9             19595

In [ ]:
conn.close()
print("Database connection closed")

Database connection closed